/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

*,
*::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Axiforma";
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #5d5d61;
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.65;
  letter-spacing: 0.02em;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
  color: #ffffff;
  background: #ee4f3c;
}

.header {
  padding-top: 57px;
}
.header__link {
  font-family: "Perpetua";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.14;
  text-transform: uppercase;
  transform: scale(1);
  transition: transform 250ms linear;
  color: #232443;
}
.header__link:hover, .header__link:focus {
  transform: scale(1.05);
}
.header__span {
  color: #ee4f3c;
}
.header__btn {
  padding: 19px 29px 18px 30px;
  transform: scale(1);
  transition: transform 250ms linear;
}
.header__btn:hover, .header__btn:focus {
  transform: scale(1.01);
  background-color: rgba(238, 78, 60, 0.8156862745);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  margin-left: 87px;
}
.header-list__item:not(:last-child) {
  margin-right: 40px;
}
.header-list__link {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  transform: rotate(0);
  transition: transform 250ms linear;
  color: #353540;
}
.header-list__link:hover, .header-list__link:focus {
  transform: rotate(-3deg);
}
.header-list__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 250ms linear;
  background-color: #ee4f3c;
}
.header-list__link:hover::before, .header-list__link:focus::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hero-position {
  position: relative;
}

.hero-content {
  display: flex;
}

.hero-left {
  max-width: 658px;
  padding-top: 131px;
  padding-bottom: 243px;
}
.hero-left__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.32;
  max-width: 652px;
  margin-bottom: 30px;
  color: #353540;
}
.hero-left__text {
  font-size: 18px;
  line-height: 1.89;
  min-width: 1381px;
}
.hero-left__img {
  position: absolute;
  top: -166px;
  left: -367px;
  width: 650px;
  z-index: -1;
}

.hero-form {
  position: relative;
  max-width: 658px;
  box-shadow: 0px 30px 70px rgba(204, 204, 204, 0.5);
  border-radius: 10px;
  margin-top: 107px;
  display: flex;
  align-items: center;
  background: #ffffff;
}
.hero-form__input {
  border: transparent;
  background-color: transparent;
}
.hero-form__input--search {
  padding: 23px 20px 23px 60px;
}
.hero-form__input--marker {
  padding: 23px 0 23px 62px;
}
.hero-form__svg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(20px, -50%);
}
.hero-form__svg--marker {
  left: 248px;
}
.hero-form__btn {
  padding: 19px 54px;
  border-radius: 0px 10px 10px 0px;
  transition: background-color 250ms;
}
.hero-form__btn:hover, .hero-form__btn:focus {
  background-color: rgba(238, 78, 60, 0.8156862745);
}

.hero-right {
  width: 814px;
  position: relative;
}
.hero-right__img {
  position: absolute;
  bottom: 0;
  right: -211px;
  width: 554px;
  z-index: -1;
}
.hero-right__circle-small {
  position: absolute;
  bottom: 76px;
  right: -211px;
  width: 540px;
  z-index: -2;
}
.hero-right__circle-big {
  position: absolute;
  bottom: -55px;
  right: -348px;
  width: 814px;
  z-index: -2;
}

.hero-right-img__img {
  position: absolute;
}
.hero-right-img__img--one {
  top: 220px;
  left: 0;
  width: 201px;
  z-index: -1;
}
.hero-right-img__img--two {
  top: 16px;
  left: 150px;
  width: 190px;
}
.hero-right-img__img--three {
  top: 110px;
  right: -305px;
  width: 190px;
}
.hero-right-img__img--four {
  bottom: 115px;
  right: -370px;
  width: 201px;
}

.hero-right-list__item {
  position: relative;
  padding: 10px;
  box-shadow: 0px 10px 50px rgba(204, 204, 204, 0.5);
  border-radius: 25px;
  width: 170px;
  background-color: #ffffff;
}
.hero-right-list__item--position-girl {
  position: absolute;
  bottom: 66px;
  left: 60px;
}
.hero-right-list__item--position-man {
  position: absolute;
  right: -340px;
  bottom: 342px;
}
.hero-right-list__img-block {
  border-radius: 20px;
  width: 150px;
  background-color: #6b5acc;
}
.hero-right-list__img-block--bgc {
  background-color: #fec247;
}
.hero-right-list__img {
  width: 150px;
}
.hero-right-list__svg-block {
  position: absolute;
  bottom: 55px;
  right: 17px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 4px 50px rgba(153, 153, 153, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.hero-right-list__svg-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-right-list__span {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.05em;
  color: #333333;
}
.hero-right-list__content {
  text-align: center;
  margin-top: 15px;
}
.hero-right-list__title {
  font-family: "Perpetua";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 2px;
  color: #353540;
}
.hero-right-list__text {
  font-size: 14px;
  line-height: 1.57;
}

.posts {
  padding-top: 95px;
  padding-bottom: 71px;
  background-image: url(../../img/posts-fon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #232443;
}
.posts__title {
  font-family: "Perpetua";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.56;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
  color: #ffffff;
}

.posts-list {
  display: flex;
  justify-content: center;
}
.posts-list__item {
  max-width: 370px;
  border-radius: 20px;
  padding: 20px;
  transition: color 250ms linear, background-color 250ms linear;
  background-color: #ffffff;
}
.posts-list__item:not(:last-child) {
  margin-right: 30px;
}
.posts-list__up-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.posts-list__link {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  box-shadow: 0px 4px 50px rgba(153, 153, 153, 0.25);
  transform: scale(1);
  transition: transform 250ms linear, background-color 250ms linear;
  background: #ffffff;
}
.posts-list__link:hover, .posts-list__link:focus {
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.892);
}
.posts-list__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.65;
  letter-spacing: 0.05em;
  color: #353540;
}
.posts-list__right-block {
  display: flex;
  align-items: center;
  margin-left: 103px;
}
.posts-list__img {
  width: 40px;
  margin-left: -18px;
}

.list-span-block {
  display: flex;
  align-items: center;
}

.list-under-block {
  margin-bottom: 36px;
}
.list-under-block__title {
  font-family: "Perpetua";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.12;
  margin-bottom: 12px;
  color: #353540;
}
.list-under-block__text {
  font-family: "Perpetua";
  font-size: 16px;
  line-height: 1.56;
}

.list-span-block__text {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.05em;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.list-span-block__text--main {
  padding: 10px 20px;
  margin-right: 10px;
}
.list-span-block__text--second {
  padding: 10px 14px;
  margin-right: 19px;
}
.list-span-block__span {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.05em;
  color: #353540;
}

.posts-last-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.posts-last-block__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.posts-last-block__svg {
  margin-left: 13px;
  fill: #ffffff;
}

.categories {
  padding-top: 150px;
  padding-bottom: 147px;
}
.categories__title {
  font-family: "Perpetua";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
  color: #353540;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.categories-list__item {
  border: 1px solid #eeeeee;
  border-radius: 20px;
  padding: 30px 25px 50px 25px;
  width: calc((100% - 90px - 30px) / 4);
  margin: 15px;
  transition: box-shadow 250ms linear;
  background-color: #ffffff;
}
.categories-list__item:hover, .categories-list__item:focus {
  box-shadow: 0px 70px 70px #eeeeee;
}
.categories-list__item:hover .categories-svg, .categories-list__item:focus .categories-svg {
  background-color: #ee4f3c;
}
.categories-list__item:hover .categories-list__svg, .categories-list__item:focus .categories-list__svg {
  fill: #ee4f3c;
  stroke: #ffffff;
}
.categories-list__title {
  font-family: "Perpetua";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 10px;
  color: #353540;
}
.categories-list__text {
  font-size: 16px;
  line-height: 25px;
  color: #353540;
}

.categories-svg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms linear;
  fill: transparent;
  stroke: #ee4f3c;
  background-color: #fff8f8;
}
.categories-svg__svg {
  fill: currentColor;
  stroke: currentColor;
}

.categories-content {
  margin-top: 30px;
  text-align: center;
}

.start {
  padding-bottom: 150px;
}
.start__line-red {
  position: absolute;
  top: -1px;
  right: -253px;
  width: 448px;
  z-index: -1;
}
.start__line-yellow {
  position: absolute;
  bottom: -149px;
  left: 405px;
  width: 433px;
  z-index: -1;
}
.start__dots-left {
  position: absolute;
  top: -224px;
  left: -320px;
  width: 180px;
}
.start__dots-right {
  position: absolute;
  bottom: 4px;
  right: -327px;
  width: 180px;
}

.start-position {
  position: relative;
}

.start-flex {
  display: flex;
  align-items: center;
}

.start-leftblock {
  width: 460px;
  margin-right: 85px;
}
.start-leftblock__title {
  font-family: "Perpetua";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.14;
  margin-bottom: 50px;
  color: #353540;
}
.start-leftblock__text {
  font-size: 18px;
  line-height: 1.89;
  margin-bottom: 50px;
  max-width: 408px;
}
.start-leftblock__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.05em;
  padding: 20px 16px;
  transform: scale(1);
  transition: transform 250ms linear, background-color 250ms linear;
  color: #ffffff;
}
.start-leftblock__btn:hover, .start-leftblock__btn:focus {
  transform: scale(1.01);
  background-color: rgba(238, 78, 60, 0.8156862745);
}

.start-rightblock {
  position: relative;
  max-width: 832px;
  display: flex;
}
.start-rightblock__img {
  width: 401px;
}
.start-rightblock__img--girl {
  position: absolute;
  bottom: 0;
  left: 430px;
}

.footer {
  padding-top: 106px;
  padding-bottom: 30px;
}/*# sourceMappingURL=main.css.map */