body {
  font-family: 'Axiforma';

  font-weight: 300;
  letter-spacing: 0.02em;

  color: $main-text;
  background-color: $main-bgc;
}

// 1170
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.65;
  letter-spacing: 0.02em;
  border-radius: 10px;
  border: transparent;

  color: $white-text;
  background: $accent;
}
