.hero {
}

.hero-position {
  position: relative;
}

.hero-content {
  display: flex;
}

.hero-left {
  max-width: 658px;
  padding-top: 131px;
  padding-bottom: 243px;
  &__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.32;
    max-width: 652px;
    margin-bottom: 30px;

    color: $second-text;
  }

  &__text {
    font-size: 18px;
    line-height: 1.89;
    min-width: 1381px;
  }

  &__img {
    position: absolute;
    top: -178px;
    left: -375px;
    width: 650px;
    z-index: -1;
    // opacity: 0.05;
  }
}

.hero-form {
  position: relative;
  max-width: 658px;
  box-shadow: 0px 30px 70px rgba(204, 204, 204, 0.5);
  border-radius: 10px;
  margin-top: 107px;
  display: flex;
  align-items: center;

  background: $main-bgc;

  &__input {
    border: transparent;

    background-color: transparent;

    &--search {
      padding: 23px 20px 23px 60px;
    }

    &--marker {
      padding: 23px 0 23px 62px;
    }
  }

  &__svg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(20px, -50%);

    &--marker {
      left: 248px;
    }
  }

  &__btn {
    padding: 19px 54px;
    border-radius: 0px 10px 10px 0px;

    transition: background-color 250ms;

    &:hover,
    &:focus {
      background-color: #ee4e3cd0;
    }
  }
}

.hero-right {
  width: 814px;
  position: relative;
  &__img {
    position: absolute;
    bottom: 0;
    right: -211px;
    width: 554px;
    z-index: -1;
  }

  &__circle-small {
    position: absolute;
    bottom: 76px;
    right: -211px;
    width: 540px;
    z-index: -2;
  }
  &__circle-big {
    position: absolute;
    bottom: -55px;
    right: -348px;
    width: 814px;
    z-index: -2;
  }
}

.hero-right-img__img {
  position: absolute;
  &--one {
    top: 220px;
    left: 0;
    width: 201px;
    z-index: -1;
  }

  &--two {
    top: 16px;
    left: 150px;
    width: 190px;
  }
  &--three {
    top: 110px;
    right: -305px;
    width: 190px;
  }

  &--four {
    bottom: 115px;
    right: -370px;
    width: 201px;
  }
}

.hero-right-list {
  &__item {
    position: relative;
    padding: 10px;
    box-shadow: 0px 10px 50px rgba(204, 204, 204, 0.5);
    border-radius: 25px;
    width: 170px;

    background-color: $main-bgc;

    &--position-girl {
      position: absolute;
      bottom: 66px;
      left: 60px;
    }

    &--position-man {
      position: absolute;
      right: -340px;
      bottom: 342px;
    }
  }
  &__img-block {
    // position: relative;
    border-radius: 20px;
    width: 150px;

    background-color: #6b5acc;

    &--bgc {
      background-color: #fec247;
    }
  }
  &__img {
    width: 150px;
  }

  &__svg-block {
    position: absolute;
    bottom: 55px;
    right: 17px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 4px 50px rgba(153, 153, 153, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $main-bgc;
  }
  &__svg-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__span {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.05em;

    color: #333333;
  }

  &__content {
    text-align: center;
    margin-top: 15px;
  }
  &__title {
    font-family: $second-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 2px;

    color: #353540;
  }

  &__text {
    font-size: 14px;
    line-height: 1.57;
  }
}

// 1949 - 1170 = 779 % 2 = 389.5
