.posts {
  padding-top: 95px;
  padding-bottom: 71px;

  background-image: url(../../img/posts-fon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #232443;

  &__title {
    font-family: $second-font;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.56;
    letter-spacing: 0.05em;
    margin-bottom: 50px;

    color: $white-text;
  }
}

.posts-list {
  display: flex;
  justify-content: center;

  &__item {
    max-width: 370px;
    border-radius: 20px;
    padding: 20px;

    transition: color 250ms linear, background-color 250ms linear;

    background-color: $main-bgc;
    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover,
    &:focus {
      background-color: rgba(238, 79, 60, 0.5);
      color: $white-text;

      .list-span-block__text {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  &__up-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__link {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 50px rgba(153, 153, 153, 0.25);

    transform: scale(1);
    transition: transform 250ms linear, background-color 250ms linear;

    background: $main-bgc;

    &:hover,
    &:focus {
      transform: scale(1.02);
      background-color: rgba(255, 255, 255, 0.892);
    }
  }

  &_svg {
  }

  &__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.65;
    letter-spacing: 0.05em;

    color: inherit;
  }

  &__right-block {
    display: flex;
    align-items: center;
    margin-left: 103px;
  }

  &__right-one {
  }
  &__right-two {
  }
  &__right-three {
  }

  &__img {
    width: 40px;
    margin-left: -18px;
  }
}

.list-span-block {
  display: flex;
  align-items: center;
}

.list-under-block {
  margin-bottom: 36px;
  &__title {
    font-family: $second-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.12;
    margin-bottom: 12px;

    color: inherit;
  }

  &__text {
    font-family: $second-font;
    font-size: 16px;
    line-height: 1.56;
  }
}

.list-span-block {
  &__text {
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.05em;
    border-radius: 5px;

    background-color: #f5f5f5;

    &--main {
      padding: 10px 20px;
      margin-right: 10px;
    }

    &--second {
      padding: 10px 14px;
      margin-right: 19px;
    }
  }

  &__span {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.05em;

    color: inherit;
  }
}

.posts-last-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  &__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    letter-spacing: 0.05em;

    color: $white-text;
  }

  &__svg {
    margin-left: 13px;
    fill: $white-text;
  }
}
