.subscribe {
  position: relative;
  height: 582px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 744px;
    height: 582px;
    z-index: -1;

    background-image: url(../img/subscribe-fon1.png);
    background-repeat: no-repeat;
    background-position: 0 89px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 744px;
    height: 582px;
    z-index: -1;

    background-image: url(../img/subscribe-fon2.png);
    background-repeat: no-repeat;
    background-position: 0 89px;
  }

  &__title {
    font-family: $second-font;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.14;
    max-width: 485px;

    color: $white-text;
  }

  &__img-left {
    position: absolute;
    left: -90px;
    bottom: -63px;
    width: 174px;
  }
  &__img-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 359px;
  }
}

.subscribe-position {
  position: relative;
}

.subscribe-content {
  border-radius: 20px;
  padding: 85px 150px;
  max-width: 1170px;

  background-color: $accent;
}

.subscribe-form {
  border-radius: 10px;
  max-width: 770px;
  display: flex;
  align-items: center;
  margin-top: 50px;

  background-color: $main-bgc;

  &__input {
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: 0.05em;
    border: transparent;
    border-radius: 10px;
    padding: 23px 30px;
    width: 500px;
  }

  &__btn {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.05em;
    padding: 15px 37px;
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-right: 5px;

    transition: background-color 250ms linear;

    color: $white-text;

    &:hover,
    &:focus {
      background-color: rgba(238, 78, 60, 0.8156862745);
    }
  }

  &__svg {
    margin-left: 16px;
  }
}
